@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Signika&display=swap');



html::-webkit-scrollbar{
    background-color: hidden;
    width: 0;
}
html{
    cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Black_with_ChromeStrokeCursor.png), auto;
    background-color: #1D1D1D;
}
section.active::-webkit-scrollbar {
    width: 8px;      
    transition: 0.6s;         
}

section.active::-webkit-scrollbar-track {
    background: hidden;  
}

section.active::-webkit-scrollbar-thumb {
    background-color: rgb(136, 136, 136);    
    border-radius: 20px;       
}
body{
    background-color: #1D1D1D;
    margin: 0;
    padding: 0;
}
header {
    padding-left: 7%;
    padding-top: 3%;
}
article {
    display: flex;
    margin-left: 5%;
    padding-right: 5%;
}
header h1 {
    font-family: 'Secular One', sans-serif;
    color: white;
    font-size: 64px;
    margin: 0;
}
header h2 {
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 36px;
    margin: 0;
}
article p {
    display: block;
    text-align: justify;
    padding-top: 1%;
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 24px;
    margin: 0;
    margin-bottom: 2%;
}
article img {
    height: 500px;
    width: 450px    ;
    margin-left: auto;
    padding-left: 5%;
    margin-bottom: 2%;
}
/*Início Home*/
section#home div.referencias{
    display: block;
    height: 50px;
    width: 100vw;
    padding-top: 1%;
}
section#home div.referencias button{
    float: right;
    margin-right: 2%;
    padding: 1%;
    background-color: white;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    color: #1D1D1D;
}

section#home nav.navegacao {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 14%;
    
}
section#home button {
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Black_with_ChromeStrokePointer.png), auto;
    background-color: #ffffff00;
    border: none;
    border-radius: 40px;
}
section#home button img {
    border-radius: 40px;
    transition: 0.5s;
}
section#home button:not(:last-child) {
    margin-right: 40px;
}
section#home button img:hover {
    box-shadow: 2px 2px 20px rgba(112, 111, 111, 0.466);
    transform: scale(1.1);
}
/*Fim Home*/

section button.btn_voltar {
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Black_with_ChromeStrokePointer.png), auto;
    display: block;
    width: 126px;
    height: 131px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff00;
    border: none;
    border-radius: 40px;
} 
section#home::-webkit-scrollbar{
    background-color: hidden;
    width: 0;
}
section#home {
   
    width: 100vw;
    overflow: hidden;
    background-color: #1D1D1D;
    visibility: hidden;
    position: absolute;
    display: block;
    margin-top: -100vh;
    transition: 0.6s;
}
section#http {
    margin-top: 100vh;
    overflow-y: hidden;
    position: absolute;
    display: block;
    height: 0;
    background-color: #1D1D1D;
    transition: 0.6s;
    overflow-y: hidden;
}
section#html_css {
    margin-top: 100vh;
    overflow-y: hidden;
    position: absolute;
    display: block;
    height: 0;
    background-color: #1D1D1D;
    transition: 0.6s;
    overflow-y: hidden;
}
section#javascript {
    margin-top: 100vh;
    overflow-y: hidden;
    display: block;
    position: absolute;
    height: 0;
    background-color: #1D1D1D;
    visibility: hidden;
    transition: 0.6s;
    overflow-y: hidden;
}
section.active#home {
    overflow: hidden;
    /* align-items: center;
    justify-content: center; */
    visibility: visible;
    margin-top: 0;
    background-color: #1D1D1D;
    height: 100vh;
    width: calc(100vw - 12px);
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    display: block;
}
section.active#http {
    overflow-y: scroll;
    margin-top: 0;
    visibility: visible;   
    position: absolute;
    background-color: #1D1D1D;
    height: 100vh;
    width: 100vw;
}

section.active#html_css {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;
    position: absolute;
    visibility: visible;  
    background-color: #1D1D1D;
    height: 100vh;
    width: 100vw;
}
section.active#javascript{
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0;
    position: absolute;
    visibility: visible;  
    background-color: #1D1D1D;
    height: 100vh;
    width: 100vw;
}

footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
footer ul li.linha1{
    display: inline-block;
}
footer ul li#direita{
    padding-left: 10px;
}
footer ul li{
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Signika', sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: rgb(150, 150, 150);
}
footer ul li a{
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Black_with_ChromeStrokePointer.png), auto;
    padding: 7px;
    background-color: rgb(150, 150, 150);
    border-radius: 40px;
    font-family: 'Signika', sans-serif;
    font-size: 15pt;
    text-decoration: none;
    color: #1D1D1D;
}
@media only screen and (max-width: 2000px){
    section.active#http {
        overflow-y: scroll;
        margin-top: 0;
        visibility: visible;   
        position: absolute;
        background-color: #1D1D1D;
        height: 100vh;
        width: 100vw;
    }
    section.active#html_css {
        overflow-y: scroll;
        margin-top: 0;
        visibility: visible;   
        position: absolute;
        background-color: #1D1D1D;
        height: 100vh;
        width: 100vw;
    }
    section.active#javascript {
        overflow-y: scroll;
        margin-top: 0;
        visibility: visible;   
        position: absolute;
        background-color: #1D1D1D;
        height: 100vh;
        width: 100vw;
    }
}
@media only screen and (max-width: 1350px){
    section.active#home {
        overflow-y: auto;
        margin-top: 0;
        visibility: visible;   
        position: absolute;
        background-color: #1D1D1D;
        height: 100vh;
        width: 100vw;
    }
    /* section#home button img{
    } */
    section#home button:not(:last-child) {
        margin-right: 0;
    }
    
    section#home nav.navegacao{
        right: auto;
        left: auto;
        flex-wrap: wrap;
        padding-bottom: 2%;
    }
    section#home button{
        padding: 1%;
    }
}
@media only screen and (max-width: 1080px) {
    article{
        position: relative;
        display: block;
    }
    article img{
        display: block;
        margin-left: calc(50% - 225px) ;
        position: absolute;
        padding: 0;
    }
}
